# **SAUDI ARABIA RBC estimation**

##### PSME 2023-2024 Macroeconomics TD-Group: 
- Cameron Jessie Ann
- Landini Elia
- Molitor Maurice

##### The following notebook houses our Saudi Arabia RBC Estimation Project, an endeavor aimed at employing Real Business Cycle (RBC) modeling to analyze economic fluctuations in Saudi Arabia over a timeframe spanning over 40 years. Through statistical and econometric techniques, we aim to uncover the underlying factors driving macroeconomic dynamics in the Saudi context.

## **INTRODUCTORY SETUP**

In [34]:
# login and link to our shared repository available on GitHub
!git init -q
!git config --global user.email "e.lando2001@gmail.com" 
!git config --global user.name "EliaLand"
!git add SaudiArabia_RBC_estimation.ipynb  
!git commit -m "Initial commit"
!git remote add origin https://github.com/EliaLand/Uni-projects.git
!git push -u origin master

Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.
Der Befehl "git" ist entweder falsch geschrieben oder
konnte nicht gefunden werden.

In [36]:
# Packages download
!pip install pandas -q
!pip install pandas_datareader -q
!pip install prettytable -q
!pip install statsmodels -q
!pip install wbgapi -q
!pip install wbdata -q
!pip install requests beautifulsoup4 pandas -q
!pip install gEconpy

Requirement already satisfied: gEconpy in c:\users\mauri\appdata\roaming\python\python311\site-packages (1.2.1)
Requirement already satisfied: emcee in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (3.1.4)
Requirement already satisfied: arviz in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (0.16.1)
Requirement already satisfied: matplotlib in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (3.8.0)
Requirement already satisfied: numba in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (0.57.1)
Requirement already satisfied: numpy in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (1.24.4)
Requirement already satisfied: pyparsing in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (3.1.1)
Requirement already satisfied: scipy in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (1.11.3)
Requirement already satisfied: statsmodels in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (0.14.0)
Requirement already satisfied: sympy in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (1.12)
Requirement already satisfied: setuptools>=60.0.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (68.2.2)
Requirement already satisfied: packaging in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (23.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (2.1.1)
Requirement already satisfied: xarray>=0.21.0 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (2023.12.0)
Requirement already satisfied: h5netcdf>=1.0.2 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (1.3.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (4.8.0)
Requirement already satisfied: xarray-einstats>=0.3 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (0.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (10.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from numba->gEconpy) (0.40.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from statsmodels->gEconpy) (0.5.3)
Requirement already satisfied: mpmath>=0.19 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from sympy->gEconpy) (1.3.0)
Requirement already satisfied: h5py in c:\users\mauri\appdata\roaming\python\python311\site-packages (from h5netcdf>=1.0.2->arviz->gEconpy) (3.10.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from pandas>=1.3.0->arviz->gEconpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from pandas>=1.3.0->arviz->gEconpy) (2023.3)
Requirement already satisfied: six in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from patsy>=0.5.2->statsmodels->gEconpy) (1.16.0)

## **CHAPTER 1: DATA**

### OVERVIEW on DATA IMPORT & ADJUSTMENT REQUIREMENTS

#### DATA REQUIREMENTS
(N.B. the following table has not descriptive purposes, but it is rather intended as an auxiliary tool for the editors)

| Step | Imported? | Season adjusted? | Currency adjusted? | Variable | Variable Name | Shortcut | Note | Source | Link | Date |
|------|-----------|-------------------|---------------------|----------|---------------|----------|------|--------|------|------|
| 1    | Yes       |        Yes        | NO NEED IT IS USD F*CK FRED               | Yt       | Real GDP      | NGDPRSAXDCSAQ | Domestic Currency, SA, Quarterly | FRED | [Link](https://fred.stlouisfed.org/series/NGDPRSAXDCSAQ) | 2010 - current |
| 2    | Yes       |                   | Yes               | C        | Real Private Sector Final Consumption Expenditure | NCPRNSAXDCSAQ | Domestic Currency, Not SA, Quarterly | FRED | [Link](https://fred.stlouisfed.org/series/NCPRNSAXDCSAQ) | 2010 - current |
| 3    | Yes       | I tried           | USD                 | It       | Gross Fixed Capital Formation | NE.GDI.FTOT.CD | Current US Dollar, Annual | WorldBank | [Link](https://data.worldbank.org/indicator/NE.GDI.FTOT.CD?locations=SA) | 1968-2022 |
| 4    | Yes       | No                | USD                 | TBt      | Trade Balance | BN.GSR.GNFS.CD | Net trade in goods and services (BOP, current US$) | World Bank | [Link](https://data.worldbank.org/indicator/BN.GSR.GNFS.CD?locations=SA) | 1971-2022 |
| 5    | No        | Fuck this         | I am adjusted       | Nt       | Average Hours of Work for Employed Persons | Excel attached | Measures the average weekly working hours of workers (15 years and over) | General Statistics Authority | [Link](https://database.stats.gov.sa/home/indicator/999118) | Q2 2016-Q2 2023 |
| 6    | No        |                   |                     | wt       | Average Monthly Wages for Paid Employees | Excel attached | The sum of the monthly wages to the total of employed persons for wages | General Statistics Authority | [Link](https://database.stats.gov.sa/home/indicator/999118) | Q2 2016-Q2 2023 |
| 7    | Yes       |                   | In %                |          | Real Long Term Bond Rate | - | 10-year government development bond yield, Quarterly | National Statistics, Saudi Central Bank | [Link](https://www.sama.gov.sa/en-US/GovtSecurity/pages/governmentdevelopmentbonds.aspx), [Specific Bond (19Jan2029)](https://cbonds.com/bonds/461405/) | Q1999-Q32007, Past 3 yrs |
| 8    | Yes       |                   | In %                | rt       | Short Term Bond Rate | Excel attached | Quarterly average of interbank rate | Saudi Central Bank | [Link](https://www.sama.gov.sa/ar-sa/EconomicReports/Pages/report.aspx?cid=118) | 2007-current |
| 9    | Yes       |                   | Riyal               | Kt       | Capital Stock at Constant National Prices | RKNANPSAA666NRUG | Millions of 2017 U.S. Dollars, Not SA, Annual | FRED | [Link](https://fred.stlouisfed.org/series/RKNANPSAA666NRUG) | 1970-2019 |
| 10   | Yes       |                   | In %                | CAt      | Current Account | BN.CAB.XOKA.GD.ZS | Current account balance % of GDP, Annual | Worldbank | [Link](https://data.worldbank.org/indicator/BN.CAB.XOKA.GD.ZS?locations=SA) | 1970-2021 |
| 11   | Yes       |                   | In %                |          | CPI           | Consumer Prices | FP.CPI.TOTL.ZG | % Annual | Worldbank | [Link](https://data.worldbank.org/indicator/FP.CPI.TOTL.ZG?locations=SA) | 1964-2021 |
| 12   | Yes       |                   |                     | ER       | Exchange Rate  | - | The Saudi riyal has been at a fixed rate to the US dollar since June 1986 (SAR 3.7500 per USD) | Constant | - | - |
| 13   | Yes       | USD               |                     | Oil      | Crude Oil, Brent Prices | Excel attached | Crude oil, average spot price of Brent, Dubai and West Texas Intermediate, equally weighed, Monthly | Worldbank | [Link](https://www.worldbank.org/en/research/commodity-markets) | - |

### DATA MANIPULATION and CLEANING

#### 1) <u>Yt=Real Gross Domestic Product<u/>

##### 1.1) Reshaping & Seasonality correction

In [38]:
# Import necessary libraries
import pandas as pd
import numpy as np
from pandas_datareader.fred import FredReader
data = FredReader(symbols=['NGDPRSAXDCSAQ'], start='2010', end=None).read()
data.to_csv('SA_gdp_seasonally_adjusted.csv')
# Read the CSV file and parse 'DATE' as datetime
df1 = pd.read_csv('SA_gdp_seasonally_adjusted.csv', parse_dates=['DATE'])
# Save for merging later 
df1.to_csv('SA_gdp_seasonally_adjusted.csv', index=False)
# Rename the columns
df1.columns = ['Date', 'Yt']
# Display the DataFrame
df1.head()

        Date        Yt
0 2010-01-01  472498.1
1 2010-04-01  487268.9
2 2010-07-01  492963.7
3 2010-10-01  521219.1
4 2011-01-01  535829.9

##### 1.2) Data format

In [39]:
# Check the format of the data so make sure we have a float variable
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    55 non-null     datetime64[ns]
 1   Yt      55 non-null     float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1012.0 bytes

In [40]:
# Create an index using our Date column
df1.set_index('Date', inplace=True)
df1.head()

                  Yt
Date
2010-01-01  472498.1
2010-04-01  487268.9
2010-07-01  492963.7
2010-10-01  521219.1
2011-01-01  535829.9

##### 1.4) Log adjustment (stationary test)

In [41]:
# Run the Dickey-Fuller test  to see if we need to adjust our data using logs due to stationary/non-stationary
# Import necessary libraries
from pandas import read_csv
from statsmodels.tsa.stattools import adfuller
import numpy as np
from prettytable import PrettyTable
# Read the CSV file
series = read_csv('SA_gdp_seasonally_adjusted.csv', header=0, index_col=0)
# Original time series
X_original = series.values
# Log-transformed time series
X_log = np.log(df1.Yt)
# Run the Dickey-Fuller test for the original time series
result_original = adfuller(X_original)
# Run the Dickey-Fuller test for the log-transformed time series
result_log = adfuller(X_log)
# Create a PrettyTable for the comparison
comparison_table = PrettyTable()
comparison_table.field_names = ["Statistic", "Original Series", "Log-Transformed Series"]
comparison_table.add_row(["ADF Statistic", result_original[0], result_log[0]])
comparison_table.add_row(["p-value", result_original[1], result_log[1]])
# Find the common keys for critical values
common_keys = set(result_original[4].keys()).intersection(result_log[4].keys())
# Add critical values to the table
for key in common_keys:
    comparison_table.add_row([f"Critical Value ({key})", result_original[4][key], result_log[4][key]])
# Print the comparison table
print(comparison_table)

+----------------------+---------------------+------------------------+
|      Statistic       |   Original Series   | Log-Transformed Series |
+----------------------+---------------------+------------------------+
|    ADF Statistic     | -2.2334914595457325 |   -2.791125939238542   |
|       p-value        |  0.1943152570602683 |  0.05955258781075299   |
| Critical Value (10%) | -2.6007735310095064 |  -2.5967964150943397   |
| Critical Value (1%)  | -3.5778480370438146 |   -3.560242358792829   |
| Critical Value (5%)  |  -2.925338105429433 |    -2.9178502070837    |
+----------------------+---------------------+------------------------+

##### The log-transformed time series, with a more negative ADF Statistic (-2.791) and a lower p-value (0.059) compared to the original series (-2.233 and 0.194), exhibits more compelling indications of stationarity. Given these Fuller test results, we opt for the log-transformed data for further analysis.

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 55 entries, 2010-01-01 to 2023-07-01
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Yt      55 non-null     float64
dtypes: float64(1)
memory usage: 880.0 bytes

##### 1.5) Currency Conversion

In [45]:
# the actual time serie for US dollars-Riyal exchange rate has a monthly frequently, we want it quarterly 
us_saudi_q = us_saudi.resample('Q').mean()
us_saudi_q.reset_index(inplace=True)
print(us_saudi_q.head())

        DATE  us_saudi_ER
0 2019-03-31         3.75
1 2019-06-30         3.75
2 2019-09-30         3.75
3 2019-12-31         3.75
4 2020-03-31         3.75

In [68]:
# Import necessary libraries
import pandas as pd
import pandas_datareader as pdr
# Import data for US dollar-Saudi Riyal Exchange rate
#series_code = 'SAUCCUSMA02STM'
#us_saudi = pdr.get_data_fred(series_code)
from pandas_datareader.fred import FredReader
data_cur = FredReader(symbols=['SAUCCUSMA02STM'], start='1960', end=None).read()
data_cur.to_csv('SA_currency_exch.csv')
data_cur = pd.read_csv('SA_currency_exch.csv', parse_dates=['DATE'])
# Rename the columns
#data_cur.columns = ['Date', 'ExRate']
data_cur.to_csv('SA_currency_exch.csv', index=False)
data_cur.rename(columns={'DATE': 'Date', 'SAUCCUSMA02STM': 'Ex_Rate'}, inplace=True)
# Rename columns
#data_cur = us_saudi.rename(columns={'SAUCCUSMA02STM': 'us_saudi_ER'})
data_cur.info

<bound method DataFrame.info of           Date  Ex_Rate
0   1960-01-01     4.50
1   1960-02-01     4.50
2   1960-03-01     4.50
3   1960-04-01     4.50
4   1960-05-01     4.50
..         ...      ...
761 2023-06-01     3.75
762 2023-07-01     3.75
763 2023-08-01     3.75
764 2023-09-01     3.75
765 2023-10-01     3.75

[766 rows x 2 columns]>

In [69]:
### last step merge all df frames
# Merge the first two DataFrames on the 'Date' column
df1_cur = pd.merge(df1, data_cur, on='Date')

# Merge the result with the third DataFrame ('I_predict') on the 'Date' column
#df1_cur = pd.merge(df_merged, I_predict, on='Date')
df1_cur

         Date        Yt  Ex_Rate
0  2010-01-01  472498.1     3.75
1  2010-04-01  487268.9     3.75
2  2010-07-01  492963.7     3.75
3  2010-10-01  521219.1     3.75
4  2011-01-01  535829.9     3.75
5  2011-04-01  544264.4     3.75
6  2011-07-01  555165.3     3.75
7  2011-10-01  564832.0     3.75
8  2012-01-01  573404.1     3.75
9  2012-04-01  579886.4     3.75
10 2012-07-01  590590.1     3.75
11 2012-10-01  575481.5     3.75
12 2013-01-01  573734.0     3.75
13 2013-04-01  591161.4     3.75
14 2013-07-01  614601.7     3.75
15 2013-10-01  606107.2     3.75
16 2014-01-01  613298.0     3.75
17 2014-04-01  616018.5     3.75
18 2014-07-01  626245.2     3.75
19 2014-10-01  625883.7     3.75
20 2015-01-01  632607.0     3.75
21 2015-04-01  652555.9     3.75
22 2015-07-01  655982.8     3.75
23 2015-10-01  656665.8     3.75
24 2016-01-01  654664.5     3.75
25 2016-04-01  663557.3     3.75
26 2016-07-01  661500.0     3.75
27 2016-10-01  672284.1     3.75
28 2017-01-01  657094.2     3.75
29 2017-04-01  664720.2     3.75
30 2017-07-01  668243.4     3.75
31 2017-10-01  667077.9     3.75
32 2018-01-01  671938.8     3.75
33 2018-04-01  675629.9     3.75
34 2018-07-01  687281.7     3.75
35 2018-10-01  695832.9     3.75
36 2019-01-01  686137.3     3.75
37 2019-04-01  686062.5     3.75
38 2019-07-01  685190.6     3.75
39 2019-10-01  696013.3     3.75
40 2020-01-01  675203.2     3.75
41 2020-04-01  641848.8     3.75
42 2020-07-01  650874.5     3.75
43 2020-10-01  665942.2     3.75
44 2021-01-01  656841.1     3.75
45 2021-04-01  669233.6     3.75
46 2021-07-01  698126.2     3.75
47 2021-10-01  714873.8     3.75
48 2022-01-01  733469.2     3.75
49 2022-04-01  741784.4     3.75
50 2022-07-01  750843.4     3.75
51 2022-10-01  760044.3     3.75
52 2023-01-01  750487.3     3.75
53 2023-04-01  747728.7     3.75
54 2023-07-01  718568.0     3.75

In [71]:
#df1 currency conversion
df1_cur['YT_USD'] = df1_cur['Yt']/df1_cur['Ex_Rate']
df1_cur

         Date        Yt  Ex_Rate         YT_USD
0  2010-01-01  472498.1     3.75  125999.493333
1  2010-04-01  487268.9     3.75  129938.373333
2  2010-07-01  492963.7     3.75  131456.986667
3  2010-10-01  521219.1     3.75  138991.760000
4  2011-01-01  535829.9     3.75  142887.973333
5  2011-04-01  544264.4     3.75  145137.173333
6  2011-07-01  555165.3     3.75  148044.080000
7  2011-10-01  564832.0     3.75  150621.866667
8  2012-01-01  573404.1     3.75  152907.760000
9  2012-04-01  579886.4     3.75  154636.373333
10 2012-07-01  590590.1     3.75  157490.693333
11 2012-10-01  575481.5     3.75  153461.733333
12 2013-01-01  573734.0     3.75  152995.733333
13 2013-04-01  591161.4     3.75  157643.040000
14 2013-07-01  614601.7     3.75  163893.786667
15 2013-10-01  606107.2     3.75  161628.586667
16 2014-01-01  613298.0     3.75  163546.133333
17 2014-04-01  616018.5     3.75  164271.600000
18 2014-07-01  626245.2     3.75  166998.720000
19 2014-10-01  625883.7     3.75  166902.320000
20 2015-01-01  632607.0     3.75  168695.200000
21 2015-04-01  652555.9     3.75  174014.906667
22 2015-07-01  655982.8     3.75  174928.746667
23 2015-10-01  656665.8     3.75  175110.880000
24 2016-01-01  654664.5     3.75  174577.200000
25 2016-04-01  663557.3     3.75  176948.613333
26 2016-07-01  661500.0     3.75  176400.000000
27 2016-10-01  672284.1     3.75  179275.760000
28 2017-01-01  657094.2     3.75  175225.120000
29 2017-04-01  664720.2     3.75  177258.720000
30 2017-07-01  668243.4     3.75  178198.240000
31 2017-10-01  667077.9     3.75  177887.440000
32 2018-01-01  671938.8     3.75  179183.680000
33 2018-04-01  675629.9     3.75  180167.973333
34 2018-07-01  687281.7     3.75  183275.120000
35 2018-10-01  695832.9     3.75  185555.440000
36 2019-01-01  686137.3     3.75  182969.946667
37 2019-04-01  686062.5     3.75  182950.000000
38 2019-07-01  685190.6     3.75  182717.493333
39 2019-10-01  696013.3     3.75  185603.546667
40 2020-01-01  675203.2     3.75  180054.186667
41 2020-04-01  641848.8     3.75  171159.680000
42 2020-07-01  650874.5     3.75  173566.533333
43 2020-10-01  665942.2     3.75  177584.586667
44 2021-01-01  656841.1     3.75  175157.626667
45 2021-04-01  669233.6     3.75  178462.293333
46 2021-07-01  698126.2     3.75  186166.986667
47 2021-10-01  714873.8     3.75  190633.013333
48 2022-01-01  733469.2     3.75  195591.786667
49 2022-04-01  741784.4     3.75  197809.173333
50 2022-07-01  750843.4     3.75  200224.906667
51 2022-10-01  760044.3     3.75  202678.480000
52 2023-01-01  750487.3     3.75  200129.946667
53 2023-04-01  747728.7     3.75  199394.320000
54 2023-07-01  718568.0     3.75  191618.133333

In [46]:
# Having our GDP data in Saudi Riyal, to switch to US dollar, we only have to proprerly multiply Yt (Saudi Riyal) for the given fixed exchange rate
# analyse the structure of the 2 datasets in question
print("df1:")
print(df1.head())
print("\nus_saudi_q:")
print(us_saudi_q.head())

df1:
                  Yt
Date
2010-01-01  472498.1
2010-04-01  487268.9
2010-07-01  492963.7
2010-10-01  521219.1
2011-01-01  535829.9

us_saudi_q:
        DATE  us_saudi_ER
0 2019-03-31         3.75
1 2019-06-30         3.75
2 2019-09-30         3.75
3 2019-12-31         3.75
4 2020-03-31         3.75

In [47]:
# create a merged table from the two FUCKKKKKKKKKIIIIIIIIITTTTTTTTT, im tired bye, and i still havent done french
df2 = pd.merge(df1, us_saudi_quarters, left_on='Date', right_on='DATE', how='inner')
#check if the columns have the same format
print("Data type of 'Date' in df1:", df1['Date'].dtype)
print("Data type of 'Date' in us_saudi_quarters:", us_saudi_q['DATE'].dtype)

df1['Date'] = pd.to_datetime(df1['Date'])
us_saudi_q['DATE'] = pd.to_datetime(us_saudi_q['DATE'])
print("First few rows of df1:", df1.head())
print("First few rows of us_saudi_qs:", us_saudi_q.head())

NameError: name 'us_saudi_quarters' is not defined

#### 2) <u>C=Real Private Sector Final Consumption Expenditure<u/>

In [ ]:
### Step 2 ## Importing Real Private Sector Final Consumption Expenditure
## data is not seasonaly adjusted yet

data = FredReader(symbols=['NCPRNSAXDCSAQ'], start='2010', end=None).read()
data.to_csv('SA_real_private_consumption_not_adjusted.csv')

# Read the CSV file and parse 'DATE' as datetime
df2 = pd.read_csv('SA_real_private_consumption_not_adjusted.csv', parse_dates=['DATE'])

# save for merging later 
df2.to_csv('SA_real_private_consumption_not_adjusted.csv', index=False)

# Rename the columns
df2.columns = ['Date', 'C']

# Display the DataFrame
df2.head()

In [ ]:
# Check the format of data before merge
df2.info()
df2.plot()

In [ ]:
df2.C.map(np.log).diff().plot()

In [ ]:
df2['log_C'] = df2['C'].map(np.log)
df2['diff_log_C'] = df2['log_C'].diff()

# Include the 'Date' column from df2
d_log_C = df2[['Date']].copy()
d_log_C['diff_log_C'] = df2['diff_log_C']
d_log_C.info()

In [ ]:
# Extract quarter information
d_log_C['Quarter'] = d_log_C['Date'].dt.quarter

# Create a pivot table based on quarter and year
d_C_pivot = d_log_C.pivot_table(index='Quarter', columns=d_log_C['Date'].dt.year, values='diff_log_C')

# Display the pivot table
d_C_pivot.head()

In [ ]:
d_C_pivot.plot(legend=False);

Results seem not completly random but also not completly non random. Not adjusting for seasonality.

In [ ]:
!pip install wbdata
!pip install pandas_datareade

In [ ]:
### Step 3 ## Importing Gross Fixed Capital Formation NE.GDI.FTOT.CD Annual

## data is in current US Dollar

import pandas as pd
import pandas_datareader.wb as wb

# Define the World Bank indicator code for "Gross Fixed Capital Formation"
indicator_code = 'NE.GDI.FTOT.CD'

# Define countries and time period
countries = ['SA']
start_date = '2010-01-01'
end_date = '2023-12-31'

# Fetch World Bank data using the pandas_datareader library
world_bank_data = wb.download(indicator=indicator_code, country=countries, start=start_date, end=end_date)

# Reset index to make 'Date' a column
world_bank_data.reset_index(inplace=True)

# Drop 'country' column
world_bank_data.drop('country', axis=1, inplace=True)

# Rename 'year' column to 'Date'
world_bank_data.rename(columns={'year': 'Date', 'NE.GDI.FTOT.CD': 'I'}, inplace=True)
world_bank_data['Date'] = pd.to_datetime(world_bank_data['Date'])  # Fix: use 'year' instead of 'Date'

# sort data so frequency runs correct ########## REMEMBER
df3 = world_bank_data.copy().set_index('Date').sort_index()
df3.info()

In [ ]:
!pip install tsdisagg -q
from tsdisagg import disaggregate_series 
#disaggregate_series(df3.I.resample('AS').sum(), target_freq='QS').plot()
# create 
df3_resample = disaggregate_series(df3.I, target_freq='QS',agg_func='sum')

In [ ]:
### resample data to fit quartelry framework

# Plot the resampled data and original data
df3_resample.plot(marker='o')
df3.I.resample('QS').asfreq().plot(marker='o')

In [ ]:
# taking a loook at the NA
quarterly_I = df3.I.mul(0.25).resample('QS').asfreq()
quarterly_I.tail()

In [ ]:
import statsmodels.api as sm

# order is three numbers: (AR, Diff, MA). If this means nothing to you don't worry. But AR(1) corresponds to
# order (1, 0, 0).

# We set the trend to 'ctt' which means quadratic trend, since this data is increasing exponentially.
mod = sm.tsa.SARIMAX(quarterly_I, order=(1, 0, 0), trend='ctt')
res = mod.fit(method='nm', maxiter=10_000)

In [ ]:
res.summary()

In [ ]:
fig, ax = plt.subplots()
res.predict().plot(label='Predicted', ax=ax)
ax.scatter(quarterly_I.index, quarterly_I.values, s=15, color='tab:orange', label='Data')
ax.legend()
plt.show()

In [ ]:
# Plot the resampled data
df3.I.resample('QS').asfreq().plot(marker='o')

# Taking a look at the NA
quarterly_I = df3.I.mul(0.25).resample('QS').asfreq()

# Display the last few rows of the resampled quarterly data
print(quarterly_I.tail())

# SARIMAX Modeling
mod = sm.tsa.SARIMAX(quarterly_I, order=(1, 0, 0), trend='ctt')
res = mod.fit(method='nm', maxiter=10_000)

# Generate quarterly periods
quarterly_periods = pd.date_range(start=quarterly_I.index[-1] + pd.DateOffset(months=3), periods=4, freq='Q')

# Make predictions for quarterly data
predictions = res.get_prediction(start=quarterly_periods[0], end=quarterly_periods[-1])
predicted_data = predictions.predicted_mean

# Combine original quarterly data with predicted quarterly data
I_predict = pd.concat([quarterly_I, pd.DataFrame(predicted_data, columns=['I'], index=quarterly_periods)])

# Sort the combined data by the index (Date)
I_predict.sort_index(inplace=True)

# Reset index and rename to Date
I_predict.reset_index(inplace=True)
I_predict.rename(columns={'index': 'Date'}, inplace=True)

# Forward-fill NAs
I_predict.ffill(inplace=True)

print(I_predict)

In [ ]:
# Reset index and rename to match your requirements
#combined_data_I.reset_index(inplace=True)

# Drop the number in the column row and also drop 'I' column

I_predict.rename(columns={0: 'I_pred'}, inplace=True)
I_predict.drop(columns='I', axis=1, inplace=True)
I_predict.head()
I_predict.info()

In [ ]:
### Step 3.2 ## Change currency to Saudi Dollar petro money

In [ ]:
### Step 4 ## 4	TBt	Trade Balance trade in goods and services (BOP, current US$)

## data is in current US Dollar

import pandas as pd
import pandas_datareader.wb as wb

# Define World Bank indicator code for Trade Balance
indicator_code = 'BN.GSR.GNFS.CD'

# Define the countries and time period
countries = ['SA']
start_date = '2010-01-01'
end_date = '2023-12-31'

# Fetch World Bank data using pandas_datareader
world_bank_data = wb.download(indicator=indicator_code, country=countries, start=start_date, end=end_date)

# Reset index to build Date column
world_bank_data.reset_index(inplace=True)

# Drop country
world_bank_data.drop('country', axis=1, inplace=True)

# Rename year to Date
world_bank_data.rename(columns={'year': 'Date', 'BN.GSR.GNFS.CD': 'TB'}, inplace=True)
world_bank_data['Date'] = pd.to_datetime(world_bank_data['Date']) 

df4 = world_bank_data.copy()
df4.info()
df4.head()

In [ ]:
### Step 4.2 ## Trade Balance trade in goods and services (BOP, current US$)
# change to quarterly numbers

#### 5) <u>Nt=Average Hours of Work for Employed Persons<u/>

In [ ]:
# Manually import data, given the unavailability of alternative API/code solutions to include the rethrieved data for the Average Hours of Work for Employed Persons
Nt_data = {
    '2016 / Q2': [38.96775504],
    '2016 / Q3': [38.57034481],
    '2016 / Q4': [38.75315665],
    '2017 / Q1': [39.09336699],
    '2017 / Q2': [38.85986074],
    '2017 / Q3': [38.9159003],
    '2017 / Q4': [39.58174661],
    '2018 / Q1': [38.64750733],
    '2018 / Q2': [38.80551713],
    '2019 / Q1': [38.94281089],
    '2019 / Q2': [38.43955095],
    '2019 / Q3': [38.17616634],
    '2019 / Q4': [37.88810263],
    '2020 / Q1': [38.35162171],
    '2020 / Q2': [39.31892759],
    '2020 / Q3': [39.65375889],
    '2020 / Q4': [40.16204173],
    '2021 / Q1': [39.01231081],
    '2021 / Q2': [38.43177217],
    '2021 / Q3': [39.30209818],
    '2021 / Q4': [40.29776716],
    '2022 / Q1': [39.84260952],
    '2022 / Q2': [40.12209799],
    '2022 / Q3': [40.72582419],
    '2022 / Q4': [40.11837913],
    '2023 / Q1': [40.01679873],
    '2023 / Q2': [40.35208325]
}
# Create a dataframe from the table
df5 = pd.DataFrame(Nt_data)
# In this structure, we have values for Nt alligned on single row, we prefer a column
df5 = df5.transpose()
# Rename the columns to fit the variable in question
df5.columns = ['Nt']
# Convert the index to datetime format with format specification
df5.index = pd.to_datetime([f"{quarter.split(' / ')[0]}-{quarter.split(' / ')[1].replace('Q', '-')}-01" for quarter in df5.index])
print(df5.head())

In [ ]:
### Step 5 take a look at the data
# checking for missing values
#print(df5.isnull().sum())
# general overview
import matplotlib.pyplot as plt
import pandas as pd

# Set the display format for floating-point numbers
pd.set_option('display.float_format', '{:.2f}'.format)

# Summary statistics
summary_stats = df5.describe()

# min and max values
min_values = df5.min()
max_values = df5.max()

# histograms
df5.hist(figsize=(10, 8))
plt.suptitle('Histograms')

# Box plots
df5.boxplot(figsize=(10, 6))
plt.title('Box Plots')

# Scatter plots for each pair of variables
#numerical_columns = df5.select_dtypes(include='number').columns
#scatter_matrix = pd.plotting.scatter_matrix(df5[numerical_columns], figsize=(12, 12), marker='o', diagonal='hist')
#plt.suptitle('Scatter Plots', y=1.02)

# # Line plot for total hours worked per year
# plt.figure(figsize=(10, 6))
# plt.plot(df5['Date'], df5['TOTAL_HOURS_OBSV'], marker='o', linestyle='-', color='b')
# plt.title('Total Hours Worked Per Year')
# plt.xlabel('Year')
# plt.ylabel('Total Hours Worked')
# plt.grid(True)


# Sort the DataFrame by the 'YEAR_TIME' column
df5_sorted = df5.sort_values(by='Date')

# Line plot for total hours worked per year
plt.figure(figsize=(10, 6))
plt.plot(df5_sorted['Date'], df5_sorted['TOTAL_HOURS_OBSV'], marker='o', linestyle='-', color='b')
plt.title('Total Hours Worked Per Year')
plt.xlabel('Year')
plt.ylabel('Total Hours Worked')
plt.grid(True)
plt.show()

# Show plots
plt.show()

# Display the summary statistics, min, and max values
print("Summary Statistics:")
print(summary_stats)
print("\nMin Values:")
print(min_values)
print("\nMax Values:")
print(max_values)

#### 6) <u>wt=Average Monthly Wages for Paid Employees<u/>

In [ ]:
# Manually import data, given the unavailability of alternative API/code solutions to include the rethrieved data for the Average Monthly Wages for Paid Employees
wt_data = {
    '2016 / Q2': [10462.10642],
    '2016 / Q3': [9712.357822],
    '2016 / Q4': [10227.10574],
    '2017 / Q1': [9884.23959],
    '2017 / Q2': [9910.831884],
    '2017 / Q3': [10011.63187],
    '2017 / Q4': [9939.325367],
    '2018 / Q1': [10088.82327],
    '2018 / Q2': [10237.6998],
    '2019 / Q1': [10299.10765],
    '2019 / Q2': [10341.84075],
    '2019 / Q3': [10273.0132],
    '2019 / Q4': [10256.36242],
    '2020 / Q1': [10302.70319],
    '2020 / Q2': [9970.297977],
    '2020 / Q3': [9971.056802],
    '2020 / Q4': [10539.69348],
    '2021 / Q1': [10599.8789],
    '2021 / Q2': [10491.248],
    '2021 / Q3': [10474.12402],
    '2021 / Q4': [10185.54969],
    '2022 / Q1': [9811.756473],
    '2022 / Q2': [10430.41218],
    '2022 / Q3': [9583.143722],
    '2022 / Q4': [9701.453807],
    '2023 / Q1': [9893.242042],
    '2023 / Q2': [9923.604891]
}
# Create a dataframe from the table
df6 = pd.DataFrame(wt_data)
# In this structure, we have values for Nt alligned on single row, we prefer a column
df6 = df6.transpose()
# Rename the columns to fit the variable in question
df6.columns = ['wt']
# Convert the index to datetime format
df6.index = pd.to_datetime([f"{quarter.split(' / ')[0]}-{quarter.split(' / ')[1].replace('Q', '-')}-01" for quarter in df6.index])
print(df6.head())

In [ ]:
### Step 6 ## Average Monthly Wages for Paid Employees


# i still hate this thing
sa_ave_wage_empl = 'https://database.stats.gov.sa/gastatapi/portal/api/v1/indicators/getData?format=@CSV&api=7563820c60aa782a9c85abcf47378b19184536fdfc8572a64c787b576ad46259eeffe7eba57b098eed5e5e4b28fac9f836d7c0bbbbd42ea0c7b3cc324add0657119ea69136445d759e41292d3d6c6828c1bc253adb97eadf45df2a6d3e9286501ce082b9ca038d4bde5a30967da3fabe0004ff8c5f9a2081679b2a33d0fe9f662e714b02aeeff24da1fff252beec6f04bf31f754e930bee313b87c923777b6f8d7dad96afb83bdd2e2f5832caf804844'
df6 = pd.read_csv(sa_ave_wage_empl)
df6.to_csv('sa_ave_wage_empl.csv', index=False)
# rename year to date to stay consistent
df6.columns = ['Date','EMPLYEES_PAYED_OBSV', 'MONTHLY_WAGE_OBSV']
# not real date format but to stay consistent
df6['Date'] = pd.to_datetime(df5['Date'], format='%Y')
#adjust year_time to our quarterly date format
#df6['YEAR_TIME'] = pd.to_datetime(df5['YEAR_TIME'].astype(str) + '-1', format='%Y-Q%m')
#nevermind the format is not the biggest problem 


df6.info()
df6.head()

In [ ]:
### Step 6 ## Average Monthly Wages for Paid Employees
#change to quarterly numbers

#### 7) <u>Rt=Real Long Term Bond Rate (10 years)<u/>

In [ ]:
# Manually import data, given the unavailability of alternative API/code solutions to include the rethrieved data for the Real Long Term Bond Rate
Rt_data = {
    '2007 / Q1': [5.0], 
    '2007 / Q2': [5.0], 
    '2007 / Q3': [5.0],
    '2007 / Q4': [5.0], 
    '2006 / Q1': [5.25], 
    '2006 / Q2': [5.25], 
    '2006 / Q3': [5.5], 
    '2006 / Q4': [5.5], 
    '2005 / Q1': [5.25], 
    '2005 / Q2': [5.25],
    '2005 / Q3': [4.625],
    '2005 / Q4': [4.625], 
    '2004 / Q1': [2.75],
    '2004 / Q2': [2.75], 
    '2004 / Q3': [2.0],
    '2004 / Q4': [5.194], 
    '2003 / Q1': [2.69], 
    '2003 / Q2': [3.72], 
    '2003 / Q3': [4.36], 
    '2003 / Q4': [3.6], 
    '2002 / Q1': [3.5], 
    '2002 / Q2': [5.05], 
    '2002 / Q3': [5.74], 
    '2002 / Q4': [6.36], 
    '2001 / Q1': [5.74], 
    '2001 / Q2': [6.79],
    '2001 / Q3': [6.36]
}
# Create a dataframe from the table
df7 = pd.DataFrame(Rt_data)
# In this structure, we have values for Nt alligned on single row, we prefer a column
df7 = df7.transpose()
# Rename the columns to fit the variable in question
df7.columns = ['Rt']
# Convert the index to datetime format with format specification
df7.index = pd.to_datetime([f"{quarter.split(' / ')[0]}-{quarter.split(' / ')[1].replace('Q', '-')}-01" for quarter in df7.index])
print(df7.head())

#### 8) <u>rt=Real Short Term Bond Rate (3 months)<u/>

In [ ]:
# Manually import data, given the unavailability of alternative API/code solutions to include the rethrieved data for the Real Short Term Bond Rate
rt_data = {
    'Q1 2007': [5.086876667],
    'Q2 2007': [5.044793333],
    'Q3 2007': [5.05125],
    'Q4 2007': [4.4375],
    'Q1 2008': [2.750729167],
    'Q2 2008': [2.497683913],
    'Q3 2008': [4.017900408],
    'Q4 2008': [3.872003205],
    'Q1 2009': [1.357266144],
    'Q2 2009': [0.889771282],
    'Q3 2009': [0.647518846],
    'Q4 2009': [0.750644872],
    'Q1 2010': [0.760368333],
    'Q2 2010': [0.726157867],
    'Q3 2010': [0.721976538],
    'Q4 2010': [0.734948077],
    'Q1 2011': [0.75],
    'Q2 2011': [0.714846092],
    'Q3 2011': [0.604153205],
    'Q4 2011': [0.708867179],
    'Q1 2012': [0.832301795],
    'Q2 2012': [0.906203974],
    'Q3 2012': [0.95003641],
    'Q4 2012': [0.976722821],
    'Q1 2013': [0.97589924],
    'Q2 2013': [0.95818661],
    'Q3 2013': [0.958199266],
    'Q4 2013': [0.920658071],
    'Q1 2014': [0.953805303],
    'Q2 2014': [0.951747835],
    'Q3 2014': [0.945912698],
    'Q4 2014': [0.891596032],
    'Q1 2015': [0.8162],
    'Q2 2015': [0.773933333],
    'Q3 2015': [0.828233333],
    'Q4 2015': [1.1004],
    'Q1 2016': [1.715762063],
    'Q2 2016': [2.072859778],
    'Q3 2016': [2.280601229],
    'Q4 2016': [2.195467532],
    'Q1 2017': [1.886523287],
    'Q2 2017': [1.741016667],
    'Q3 2017': [1.794616026],
    'Q4 2017': [1.82451746],
    'Q1 2018': [1.9542],
    'Q2 2018': [2.414533333],
    'Q3 2018': [2.6192],
    'Q4 2018': [2.815995514],
    'Q1 2019': [2.934282911],
    'Q2 2019': [2.821566807],
    'Q3 2019': [2.513837534],
    'Q4 2019': [2.257692993],
    'Q1 2020': [1.886206605],
    'Q2 2020': [1.127925385],
    'Q3 2020': [0.916],
    'Q4 2020': [0.839034731],
    'Q1 2021': [0.807223763],
    'Q2 2021': [0.793675606],
    'Q3 2021': [0.796229903],
    'Q4 2021': [0.842836559],
    'Q1 2022': [1.364613437],
    'Q2 2022': [2.714606047],
    'Q3 2022': [3.140852573],
    'Q4 2022': [5.281579513],
    'Q1 2023': [5.494883633],
    'Q2 2023': [5.830097591],
    'Q3 2023': [6.088936188],
}
# Create a dataframe from the table
df8 = pd.DataFrame(rt_data)
# In this structure, we have values for Nt alligned on single row, we prefer a column
df8 = df8.transpose()
# Rename the columns to fit the variable in question
df8.columns = ['rt']
# Convert the index to datetime format with format specification
df8.index = pd.to_datetime([f"{quarter.split(' ')[1]}-{quarter.split(' ')[0][1:]}-01" for quarter in df8.index])
print(df8.head())

In [ ]:
### Step 9 ## Capital Stock at Constant National Prices
## in USD
## quarterly numbers

data = FredReader(symbols=['NCPRNSAXDCSAQ'], start='2010', end=None).read()
data.to_csv('Cap_stock_at_Constant_National_Prices_USD.csv')

# Read the CSV file and parse 'DATE' as datetime
df9 = pd.read_csv('Cap_stock_at_Constant_National_Prices_USD.csv', parse_dates=['DATE'])

# save for merging later 
df9.to_csv('Cap_stock_at_Constant_National_Prices_USD.csv', index=False)

# Rename the columns
df9.columns = ['Date', 'K']

# Display the DataFrame
df9.head()
df9.info()

In [ ]:
### Step 10 ## Current Account	BN.CAB.XOKA.GD.ZS
#Current account balance % of GDP, Annual

## data is in percent

import pandas as pd
import pandas_datareader.wb as wb

# Define the World Bank indicator code for "Gross Fixed Capital Formation"
indicator_code = 'BN.CAB.XOKA.GD.ZS'

# Define the countries and time period you are interested in (only Saudi Arabia in this case)
countries = ['SA']
start_date = '2010-01-01'
end_date = '2023-12-31'

# Fetch World Bank data using the pandas_datareader library
world_bank_data = wb.download(indicator=indicator_code, country=countries, start=start_date, end=end_date)

# Reset index to make 'Date' a column
world_bank_data.reset_index(inplace=True)

# Drop 'country' column
world_bank_data.drop('country', axis=1, inplace=True)

# Rename 'year' column to 'Date'
world_bank_data.rename(columns={'year': 'Date', 'BN.CAB.XOKA.GD.ZS': 'CA'}, inplace=True)
world_bank_data['Date'] = pd.to_datetime(world_bank_data['Date'])  # Fix: use 'year' instead of 'Date'

df10 = world_bank_data.copy()
df10.info()
df10.head()

In [ ]:
### Step 10.2 ## Current Account	BN.CAB.XOKA.GD.ZS
#Current account balance % of GDP, Annual

## change to quarterly

In [ ]:
### Step 11 ## Consumer Prices	FP.CPI.TOTL.ZG
#Current account balance % of GDP, Annual

## data is in percent

import pandas as pd
import pandas_datareader.wb as wb

# Define the World Bank indicator code for "Gross Fixed Capital Formation"
indicator_code = 'FP.CPI.TOTL.ZG'

# Define the countries and time period you are interested in (only Saudi Arabia in this case)
countries = ['SA']
start_date = '2010-01-01'
end_date = '2023-12-31'

# Fetch World Bank data using the pandas_datareader library
world_bank_data = wb.download(indicator=indicator_code, country=countries, start=start_date, end=end_date)

# Reset index to make 'Date' a column
world_bank_data.reset_index(inplace=True)

# Drop 'country' column
world_bank_data.drop('country', axis=1, inplace=True)

# Rename 'year' column to 'Date'
world_bank_data.rename(columns={'year': 'Date', 'FP.CPI.TOTL.ZG': 'CPI'}, inplace=True)
world_bank_data['Date'] = pd.to_datetime(world_bank_data['Date'])  # Fix: use 'year' instead of 'Date'

df11 = world_bank_data.copy()
df11.info()
df11.head()

In [ ]:
### Step 11.2 ## Consumer Prices	FP.CPI.TOTL.ZG

## change to quarterly

In [ ]:
### Step 13 ## Oil prices  Prices

!pip install wbgapi -q
import wbgapi as wb
wb.source.info()

In [ ]:
### Step 13 ## Oil prices  Prices

## in USD
## weekly numbers

data = FredReader(symbols=['DCOILWTICO'], start='2010', end=None).read()
data.to_csv('Cruide_oil_barrel_USD.csv')

# Read the CSV file and parse 'DATE' as datetime
df13 = pd.read_csv('Cruide_oil_barrel_USD.csv', parse_dates=['DATE'])

# save for merging later 
df13.to_csv('Cruide_oil_barrel_USD.csv', index=False)

# Rename the columns
df13.columns = ['Date', 'Oil']

# Display the DataFrame
df13.head()

In [ ]:
### step 13 # handle missing values
df13['Date'] = pd.to_datetime(df13['Date'])
df13.set_index('Date', inplace=True)
df13_filled = df13.fillna((df13.ffill() + df13.bfill()) / 2)

In [ ]:
### Step 13 ## Oil prices  Prices change to quarterly
df13_quarterly = df13_filled.resample('Q').mean()

## in USD
## weekly numbers

In [ ]:
df13_filled.Oil.plot(label='Weekly', legend=True)
df13_quarterly.Oil.plot(label='Quarterly', legend=True)

In [ ]:
wb.economy.metadata.get('SAU')
wb.series.info(q='

In [ ]:
### last step merge all df frames
# Merge the first two DataFrames on the 'Date' column
df_merged = pd.merge(df1, df2, on='Date')

# Merge the result with the third DataFrame ('I_predict') on the 'Date' column
df_merged = pd.merge(df_merged, I_predict, on='Date')

In [ ]:
df_merged.head()

In [ ]:
##### Actual Modelling

# check rbc.check_bk_condition and comment on it
# with too many eigenvalues the agents cant fix the shocks
# with too little the agents cant choose
# goal 2 eigenvalues greater than 1
# something else as well

In [ ]:
#### Actual Modelling
# plot eigenvalues
# two should be in the circle gp-plot eigengalues
#

In [ ]:
#### Fitting the model
# creativity points for rbc.fit example for that on the github in his gEconpy (example notebook fitting RBC to US Data)
# full info bayesian estimatition, you get whole probability distribution (1 hour for jessi to fit, so 10 for us)
# mle_model for maximum likelihood
# estimate only a couple parameters (in his example he only did rho_A 
# starting value for the standard deviation
# type in 0.5 so 96% will be between -1 and 1 (two times what he wrote because of T-test 1,96 thingy)
# so adjust epsilon accordingly
# com,pate to log_df.train. describe should be close to our Y but not the same cause why model otherwise

#put noise on data as we ahve so much yearly data

# param transformers
# simulated annealing to escape the data wholes in our data/parameters
# because of all the ups and downs there is no point of following the line

# look at the kalman one steap ahead predictions
# is true data within confidence interval?
# loook at dynmaisc and compare predicted with real series
# always look for break points where the quality of the behavior changes
# think about why some graphs look the same (think about how you solve for the variables)
# confidence intervall often bigger at the beginning of the daata
# filter_output='smoothed' that gives you forward predicitons and then goes back and incorporates the forward predicitions 
# usually the error bars kinda go to zero 

# last thing is impulse response function irf
# which variables are driving the dynamisc? epsilions
# rate of decrease is governed by which parameter? in A it is rho
# play that game for the other variables. Which look similiar?
# consumption smoothing, eueler equation
# do variables overshoot?

RBC MODEL

In [77]:
!pip install gEconpy
!pip install matplotlib

Requirement already satisfied: gEconpy in c:\users\mauri\appdata\roaming\python\python311\site-packages (1.2.1)
Requirement already satisfied: emcee in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (3.1.4)
Requirement already satisfied: arviz in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (0.16.1)
Requirement already satisfied: matplotlib in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (3.8.0)
Requirement already satisfied: numba in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (0.57.1)
Requirement already satisfied: numpy in c:\users\mauri\appdata\roaming\python\python311\site-packages (from gEconpy) (1.24.4)
Requirement already satisfied: pyparsing in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (3.1.1)
Requirement already satisfied: scipy in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (1.11.3)
Requirement already satisfied: statsmodels in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (0.14.0)
Requirement already satisfied: sympy in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from gEconpy) (1.12)
Requirement already satisfied: setuptools>=60.0.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (68.2.2)
Requirement already satisfied: packaging in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (23.1)
Requirement already satisfied: pandas>=1.3.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (2.1.1)
Requirement already satisfied: xarray>=0.21.0 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (2023.12.0)
Requirement already satisfied: h5netcdf>=1.0.2 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (1.3.0)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from arviz->gEconpy) (4.8.0)
Requirement already satisfied: xarray-einstats>=0.3 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from arviz->gEconpy) (0.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (1.4.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (10.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib->gEconpy) (2.8.2)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from numba->gEconpy) (0.40.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from statsmodels->gEconpy) (0.5.3)
Requirement already satisfied: mpmath>=0.19 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from sympy->gEconpy) (1.3.0)
Requirement already satisfied: h5py in c:\users\mauri\appdata\roaming\python\python311\site-packages (from h5netcdf>=1.0.2->arviz->gEconpy) (3.10.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from pandas>=1.3.0->arviz->gEconpy) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from pandas>=1.3.0->arviz->gEconpy) (2023.3)
Requirement already satisfied: six in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from patsy>=0.5.2->statsmodels->gEconpy) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\mauri\appdata\roaming\python\python311\site-packages (from matplotlib) (1.24.4)
Requirement already satisfied: packaging>=20.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mauri\miniconda3\envs\econ\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [79]:
%matplotlib inline
import gEconpy as ge
import gEconpy.plotting as gp

import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'gEconpy'

In [ ]:
def compare_steady_states(models, names):
    all_keys = set()
    for model in models:
        all_keys = all_keys.union(set(list(model.steady_state_dict.keys())))
    
    header = ' ' * 10 + ''.join([f'{name:>10}' for name in names])
    print(header)
    print('-' * len(header))

    for key in all_keys:
        line = f'{key:<10}'
        for model in models:
            if key in model.steady_state_dict.keys():
                value = f'{model.steady_state_dict[key]:>10.3f}'
            else:
                value = f'{"---":>10}'
            line += value 
        print(line)

In [ ]:
rbc = ge.gEconModel('GNC/DSGE_SA_Model_test.txt')

In [ ]:
rbc.steady_state()
rbc.solve_model()

In [ ]:
rbc.print_steady_state()

Impulse Response Function

In [ ]:
base_irf = rbc.impulse_response_function(simulation_length=40, shock_size=0.1)
gp.plot_irf(base_irf, legend=True);

In [ ]:
#check eigenvalues
rbc.check_bk_condition()

In [ ]:
#plot eigenvalues
gp.plot_eigenvalues(rbc);

In [ ]:
#plot covariesnces
gp.plot_covariance_matrix(rbc.compute_stationary_covariance_matrix(), cbar_kw={'shrink':0.5});

In [ ]:
#plot autocorrelation
gp.plot_acf(rbc.compute_autocorrelation_matrix(n_lags=25));

Model Extension

Solve Model

In [ ]:
capital_adj.steady_state()
capital_adj.solve_model()

In [ ]:
#adjust baseline and k adj
compare_steady_states([rbc, capital_adj], ['Baseline', 'K Adj'])

In [ ]:
gp.plot_covariance_matrix(capital_adj.compute_stationary_covariance_matrix(), cbar_kw={'shrink':0.5});

Autocorrelation Functions

In [ ]:
gp.plot_acf(capital_adj.compute_autocorrelation_matrix(n_lags=40));

Compare Impulse Response Functions

In [ ]:
fig, ax = plt.subplots()

base_irf.loc['I'].droplevel(1).plot(label='Base Model', legend=True, ax=ax)
for  in [0, 2, 5]:
    capital_adj.free_param_dict.update({'phi':})
    capital_adj.steady_state(verbose=False)
    capital_adj.solve_model(verbose=False)
    cap_adj_irf = capital_adj.impulse_response_function(simulation_length=40, shock_size=0.1)
    cap_adj_irf.loc['I'].droplevel(1).plot(label=f'CAC, ={}', ls='--' if  == 0 else '-', legend=True, ax=ax)
ax.set_title('Investment IRF Under Different Values of \nCapital Adjustment Cost Model')
plt.show()

In [ ]:
# figure comparing tobins q
fig, ax = plt.subplots()

for  in [0, 2, 5]:
    capital_adj.free_param_dict.update({'phi':})
    capital_adj.steady_state(verbose=False)
    capital_adj.solve_model(verbose=False)
    cap_adj_irf = capital_adj.impulse_response_function(simulation_length=40, shock_size=0.1)
    cap_adj_irf.loc['Q'].droplevel(1).plot(label=f'CAC, ={}', ls='--' if  == 0 else '-', legend=True)
ax.set_title("Tobin's Q IRF Under Different Values of \nCapital Adjustment Cost Model")
plt.show()

Extension 1: Add Oil Price Shock

In [ ]:
inv_adj = ge.gEconModel('GCN Files/Oil Price.gcn')

In [ ]:
inv_adj.steady_state()
inv_adj.solve_model()

In [ ]:
for eq in inv_adj.system_equations:
    display(eq)

In [ ]:
compare_steady_states([rbc, inv_adj], ['Baseline', 'I Adj'])

Covariance Matrix

In [ ]:
gp.plot_covariance_matrix(inv_adj.compute_stationary_covariance_matrix(), cbar_kw={'shrink':0.5});

Autocorrelation Functions

In [ ]:
gp.plot_acf(inv_adj.compute_autocorrelation_matrix(n_lags=40));

# **Impulse response Functions**

In [ ]:
fig, ax = plt.subplots()

base_irf.loc['I'].droplevel(1).plot(label='Base Model', legend=True, ax=ax)
for  in [0, 2, 5]:
    inv_adj.free_param_dict.update({'phi':})
    inv_adj.steady_state(verbose=False)
    inv_adj.solve_model(verbose=False)
    inv_adj_irf = inv_adj.impulse_response_function(simulation_length=40, shock_size=0.1)
    inv_adj_irf.loc['I'].droplevel(1).plot(label=f'IAC, ={}', ls='--' if  == 0 else '-', legend=True, ax=ax)
ax.set_title('Investment IRF Under Different Values of \Investment Adjustment Cost Model')
plt.show()

In [ ]:
# comparing tobins q
fig, ax = plt.subplots()

for  in [0, 2, 5]:
    inv_adj.free_param_dict.update({'phi':})
    inv_adj.steady_state(verbose=False)
    inv_adj.solve_model(verbose=False)
    inv_adj_irf = inv_adj.impulse_response_function(simulation_length=40, shock_size=0.1)
    inv_adj_irf.loc['Q'].droplevel(1).plot(label=f'CAC, ={}', ls='--' if  == 0 else '-', legend=True)
ax.set_title("Tobin's Q IRF Under Different Values of \nInvestment Adjustment Cost Model")
plt.show()

In [ ]:
Extension 3: 2 Firm + Oil Pirce